.App {
  width: 100vw;
  height: 100vh;
  background-color: #f8fafb;
  display: flex;
  gap: 0;
  padding: 2rem;
  box-sizing: border-box;
  .sidebar {
    height: 100%;
    width: 5rem;
    background-color: #6E6AF7;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #9895f5ed;
  }
}
