.sidebar {
  height: 100%;
  width: 5rem;
  background-color: #6e6af7;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #9895f5ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.25rem;
  box-sizing: border-box;
  .logo {
    font-size: 0.75rem;
    color: white;
  }

  .enlacesDiv {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
      text-decoration: none;
      color: white;
      transition: all 0.3s;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      &:global(.active) {
        font-weight: 600;
        background-color: rgba(230, 230, 255, 0.1);
      }
      &:hover {
        background-color: rgba(230, 230, 255, 0.2);
      }
    }
  }
}
